.h3_one {
    font-weight:bold;
    margin-left: 35%;
}
.p1 {
    margin-left:35%;
}
.h3_two{
    font-weight: bold;
    margin-left: 2%;
}
.p2{
    margin-left: 2%;
}
.h3_tree {
    font-weight: bold;
    margin-left: 55%;
}
.p3 {
    margin-left: 55%;
}
.h3_four {
    font-weight: bold;
}
